@model DDS.Models.ViewModels.PerfilViewModel
@{
    ViewBag.Title = "Cargar Perfil Nutricional";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section id="ResgistroForm">
            @using (Html.BeginForm("CargarPerfil", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Debe completar los campos obligatorios.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert-success">
                        <p><strong>Success:</strong> @TempData["SuccessMessage"].ToString()</p>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.Nombre, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sexo, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.EnumDropDownListFor(m => m.Sexo, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FechaNacimiento, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Altura, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Altura, new { @class = "form-control", maxlength = 10, placeholder = "Ejemplo: 1,50" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Complexion, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.EnumDropDownListFor(m => m.Complexion, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dieta, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.EnumDropDownListFor(m => m.Dieta, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Rutina, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.EnumDropDownListFor(m => m.Rutina, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PreferenciaAlimenticia, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.EnumDropDownListFor(m => m.PreferenciaAlimenticia, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="Guardar" class="btn bt-gris" />
                        <input type="button" value="Volver" class="btn btn-default " onclick="window.location.href='@Url.Action("Home", "Home")'" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-2"></div>
</div>

<script>
    $(document).ready(function () {
        $("#FechaNacimiento").datepicker({
            startView: 2,
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    });
</script>