@model DDS.Models.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Cargar Perfil Nutricional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="ResgistroForm">
            @using (Html.BeginForm("CargarPerfil", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Debe completar los campos obligatorios.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                if (TempData["RegisterSuccessMessage"] != null)
                {
                    <div class="alert-success">
                        <p><strong>Success:</strong> @TempData["RegisterSuccessMessage"].ToString()</p>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sexo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(m => m.Sexo, "--- Seleccione ---", new { @class = "form-control" })
                        @*@Html.DropDownListFor(m => m.Sexo, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Masculino", Value = "M" },
                                        new SelectListItem{ Text="Femenino", Value = "F" }
    }, "--- Seleccione ---", new { @class = "form-control" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FechaNacimiento, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Complexion, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(m => m.Complexion, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dieta, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(m => m.Dieta, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Rutina, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(m => m.Rutina, "--- Seleccione ---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PreferenciaAlimenticia, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PreferenciaAlimenticia, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                        <input type="button" value="Volver" class="btn btn-default" onclick="window.location.href='@Url.Action("Login")'" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>