<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Qué comer?</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/datatables/css")
    @Styles.Render("~/Content/datepicker/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/filestyle")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Qué comer?", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Administrar grupo", "MisGrupos", "Grupo")</li>
                            <li>@Html.ActionLink("Crear grupo", "Create", "Grupo")</li>
                            <li>@Html.ActionLink("Mis grupos", "VerGrupos", "Grupo")</li>
                            <li>@Html.ActionLink("Buscar nuevos grupos", "Buscar", "Grupo")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recetas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Administrar recetas", "MisRecetas", "Receta")</li>
                            <li>@Html.ActionLink("Crear receta", "CargarReceta", "Receta")</li>
                            <li>@Html.ActionLink("Comidas planificadas", "Planificaciones", "Receta")</li>
                            <li>@Html.ActionLink("Buscar nuevas recetas", "Buscar", "Grupo")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        @{ var user = User != null && User.User != null ? User.User.Username : ""; }
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@user <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Mi Perfil", "CargarPerfil", "Account")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Cerrar Sesión", "LogOut", "Account")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Diseño de Sistemas</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
