@model DDS.Models.ViewModels.PasoViewModel
@{
    ViewBag.Title = "Cargar Paso " + (Model.Numero + 1);
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="ResgistroForm">
            @using (Html.BeginForm("_CargarPaso", "Receta", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "cargarPasoForm" }))
            {
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.RecetaId)
                @Html.HiddenFor(m => m.Numero)
                @Html.HiddenFor(m => m.ImagenPath)

                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert-success">
                        <p><strong>Success:</strong> @TempData["SuccessMessage"].ToString()</p>
                    </div>
                }
                <br/>
                <div class="form-group">
                    @Html.LabelFor(m => m.Imagen, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Imagen, new { type = "file", id = "imageUpload", accept = "image/*", @class = "filestyle", MaxLengthAttribute = 1024 })
                    </div>
                </div>
                <div class="ImgPreview col-lg-12 col-md-12 col-xs-12" id="divImgPreview" style="filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);">
                </div>
                
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Descripcion, 10, 20, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="btnGuardar" class="btn btn-primary">Guardar y Continuar</button>
                        <button type="button" class="btn btn-default" onclick="window.location.href='@TempData["BotonVolver"]'">Volver</button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        DisplayImageType('@Model.ImagenPath');

        $("#imageUpload").change(function () {
            var isIE8or9 = (navigator.appVersion.indexOf("MSIE 8") != -1 || navigator.appVersion.indexOf("MSIE 9") != -1);
            $("#divError").hide();
            if (!isIE8or9) {
                if (this.files[0].size > 1048576) {
                    alert('El tamaño de la imagen no debe exceder 1 MB.');
                    $('#divImgPreview').css("background-image", "");
                    $("#imageUpload").val(null);
                }
                else { readURL(this); }
            }
            else { readURL(this); }
        });
    });

    function readURL(input) {
        if (navigator.appName.indexOf("Internet Explorer") != -1) {
            var ieVersion = (navigator.appVersion.indexOf("MSIE 8") != -1 ||
                            navigator.appVersion.indexOf("MSIE 9") != -1);
            if (ieVersion) { //is IE 8 or IE 9
                clearImage();
                SetImagePreviewIE(input.value);
            } else {
                previewImage(input);
            }
        } else {
            previewImage(input);
        }
    }

    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#divImgPreview').css("background-image", "url(" + e.target.result + ")");
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function DisplayImageType(imageSource) {
        if (navigator.appName.indexOf("Internet Explorer") != -1) {
            var ieVersion = (navigator.appVersion.indexOf("MSIE 8") != -1 ||
                        navigator.appVersion.indexOf("MSIE 9") != -1);
            if (ieVersion) { //is IE 8 or IE 9
                SetImagePreviewIE(imageSource);
            }

            SetImagePreview(imageSource);
        }
        else {
            SetImagePreview(imageSource);
        }
    };

    function SetImagePreview(imageSource) {
        $('#divImgPreview').css("background-image", "url(" + imageSource + "?t=" + new Date().getTime() + ")");
    }

    function SetImagePreviewIE(imageSource) {
        var newPreview = document.getElementById("divImgPreview");
        newPreview.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imageSource;
    }

    function clearImage() {
        $('#divImgPreview').css("background-image", "");
    }
</script>