@using DDS.Model.Enums
@model DDS.Models.ViewModels.RecetaViewModel
@{
    ViewBag.Title = "Detalle Receta";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-success">
        <p><strong>Success:</strong> @TempData["SuccessMessage"].ToString()</p>
    </div>
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section id="ResgistroForm">
            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Nombre</div>
                <div class="col-md-7"><p>@Model.Nombre</p></div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Dificultad</div>
                <div class="col-md-7">@Model.Dificultad</div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Temporada</div>
                <div class="col-md-7">@Model.Temporada</div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Calorias</div>
                <div class="col-md-7">@Model.Calorias</div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Categorias</div>
                <div class="col-md-7">
                    @if (Model.Desayuno)
                    {
                        <span>Desayuno</span><br />
                    }
                    @if (Model.Almuerzo)
                    {
                        <span>Almuerzo</span><br />
                    }
                    @if (Model.Merienda)
                    {
                        <span>Merienda</span><br />
                    }
                    @if (Model.Cena)
                    {
                        <span>Cena</span><br />
                    }
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Ingredientes</div>
                <div class="col-md-7">
                    @foreach (DDS.Model.Models.Ingrediente ing in Model.Ingredientes)
                    {
                        <span>@ing.Nombre (@ing.Porcion)</span><br />
                    }
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-5" style="font-weight:600;text-align:right;">Condimentos</div>
                <div class="col-md-7">
                    @foreach (DDS.Model.Models.Condimento con in Model.Condimentos)
                    {
                        <span>@con.Nombre</span><br />
                    }
                </div>
            </div>
            @using (Html.BeginForm("Calificar", "Receta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="row" style="padding:5px;">
                    <div class="col-md-5" style="font-weight:600;text-align:right;">Calificar</div>
                    @if (Model.YaLaCalifique(User.User.Id))
                    {
                        <div class="col-md-7">@Html.EnumDropDownListFor(m => m.Calificacion, "--- Seleccione ---", new { @class = "form-control", disabled = "disabled" })</div>
                    }
                    else
                    {
                        <div class="col-md-7">@Html.EnumDropDownListFor(m => m.Calificacion, "--- Seleccione ---", new { @class = "form-control" })</div>
                    }
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="Calificar" class="btn btn-primary" disabled="@Model.YaLaCalifique(User.User.Id)" />
                        <input type="button" value="Volver" class="btn btn-default " onclick="window.location.href='@Url.Action("VerRecetas", "Receta")'" />
                    </div>
                </div>
            }
            <div class="clear"></div>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>
