@using DDS.Model.Enums
@model DDS.Models.ViewModels.RecetaViewModel
@{
    ViewBag.Title = "Detalle Receta";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-success">
        <p><strong>Success:</strong> @TempData["SuccessMessage"].ToString()</p>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-danger">
        <p><strong>Error:</strong> @TempData["ErrorMessage"].ToString()</p>
    </div>
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section id="ResgistroForm">
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Volver" class="btn btn-default" onclick="window.location.href='@Url.Action("MisRecetas", "Receta")'" />
                    @{ var name = User.User.Id == Model.CreadaPor.Id ? "Editar" : "Clonar"; }
                    <input type="button" value="@name" class="btn btn-primary" onclick="window.location.href='@Url.Action("CargarReceta", "Receta", new { id = Model.Id })'" />
                </div>
            </div>
            <hr />
            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Nombre</div>
                <div class="col-md-5 col-xs-6"><p>@Model.Nombre</p></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Dificultad</div>
                <div class="col-md-5 col-xs-6">@Model.Dificultad</div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Temporada</div>
                <div class="col-md-5 col-xs-6">@Model.Temporada</div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Calorias</div>
                <div class="col-md-5 col-xs-6">@Model.Calorias</div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Categorias</div>
                <div class="col-md-5 col-xs-6">
                    @if (Model.Desayuno)
                    {
                        <span>Desayuno</span><br />
                    }
                    @if (Model.Almuerzo)
                    {
                        <span>Almuerzo</span><br />
                    }
                    @if (Model.Merienda)
                    {
                        <span>Merienda</span><br />
                    }
                    @if (Model.Cena)
                    {
                        <span>Cena</span><br />
                    }
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Ingredientes</div>
                <div class="col-md-5 col-xs-6">
                    @foreach (DDS.Model.Models.Ingrediente ing in Model.Ingredientes)
                    {
                        <span>@ing.Nombre (@ing.Porcion)</span><br />
                    }
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2"></div>
                <div class="col-md-3 col-xs-6" style="font-weight:600;">Condimentos</div>
                <div class="col-md-5 col-xs-6">
                    @foreach (DDS.Model.Models.Condimento con in Model.Condimentos)
                    {
                        <span>@con.Nombre</span><br />
                    }
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row"><div class="col-md-12"><h4 style="font-size:1.2em;font-weight:900;">Calificacion</h4></div></div>
            @using (Html.BeginForm("Calificar", "Receta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="row" style="padding:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 col-xs-6" style="font-weight:600;">Puntaje</div>
                    <div class="col-md-5 col-xs-6">@Html.EnumDropDownListFor(m => m.Calificacion, "--- Seleccione ---", new { @class = "form-control" })</div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="Calificar" class="btn bt-gris" />
                    </div>
                </div>
            }
            <div class="row"><div class="col-md-12"><h4 style="font-size:1.2em;font-weight:900;">Planificacion</h4></div></div>
            @using (Html.BeginForm("Planificar", "Receta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="row" style="padding:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 col-xs-6" style="font-weight:600;">Fecha</div>
                    <div class="col-md-5 col-xs-6">@Html.TextBoxFor(m => m.Planificacion.Fecha, new { @class = "form-control" })</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" style="padding:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 col-xs-6" style="font-weight:600;">Categoria</div>
                    <div class="col-md-5 col-xs-6">@Html.EnumDropDownListFor(m => m.Planificacion.Categoria, "--- Seleccione ---", new { @class = "form-control" })</div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="Planificar" class="btn bt-gris" />
                    </div>
                </div>
            }
            <div class="clear"></div>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>

<script>
    $(document).ready(function () {
        $("#Planificacion_Fecha").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    });
</script>