@model IList<DDS.Models.ViewModels.PlanificacionViewModel>

@{
    ViewBag.Title = "Recetas planificadas";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<section>
    <table id="misRecetas" class="table dataTable table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Dificultad
                </th>
                <th>
                    Temporada
                </th>
                <th>
                    Calorias
                </th>
                <th>
                    Creada Por
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receta.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receta.Dificultad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receta.Temporada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receta.Calorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receta.CreadaPor.Username)
                        </td>
                        <td>
                            @Html.ActionLink("Detalle", "Details", new { id = item.Receta.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>

<script>
    $(document).ready(function () {
        $("#misRecetas").dataTable({
            "language": {
                "emptyTable": "No se encontraron Recetas",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros",
                "paginate": {
                    "first": "Primer",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Previa"
                }
            }
        });
    });
</script>